
<div class="row">
  <div class="col-xs-12 col-sm-9">
    <div class="row">

      <div id="grid" class="my-shuffle-container">
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  1
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  2
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  3
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  4
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  5
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  6
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  7
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  8
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  9
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  10
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  11
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  12
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  13
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  14
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  15
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  16
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  17
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  18
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  19
                </div>
              </div>
            </div>
          </div>
        
          <div class="grid__brick col-xs-6 col-sm-4">
            <div class="grid__brick-inner">
              <div class="table-center-wrap">
                <div class="table-center">
                  20
                </div>
              </div>
            </div>
          </div>
        
        <div class="col-xs-1 my-sizer-element"></div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.2/shuffle.min.js" integrity="sha256-e2I7pth4FqNfTrtHtwgZiTLITcUeXXLBRjmyUmlomcA=" crossorigin="anonymous"></script>

<script>
window.shuffleInstance = new window.Shuffle(document.getElementById('grid'), {
  itemSelector: '.grid__brick',
  sizer: '.my-sizer-element',
});
</script>

