<div class="row">
  <div class="col-md-9">
    <%= render partial: 'shared/welcome' %>

    <%= render partial: 'app_shuffle' %>
  </div>
  <div class="col-md-3">
    <%# This assumes @motd_file responds to `to_partial_path` %>
    <%= render @motd if @motd %>
  </div>
</div>
